@import "./reset.css";
@import "./theme.css";

body {
  background-color: var(--dk-bg);
}

#content, body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
