@import "./reset.css";
@import "./theme.css";

* {
  font-family: var(--main-font);
}

body {
  background-color: var(--dk-bg);
}

#content, body {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  gap: 4vh;
  align-items: center;
  justify-content: center;
}
